<!doctype html>
<html>
  <head>
    <title>{{ term.name }} | stuff | schilk</title>
    {{< base.html_setup />}}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% include "partials/header_common.html" %}
        <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ current_url ~ "atom.xml" }}">
      </header>
      <section>
        <h1>Stuff: {{ term.name }} </h1>
        <div class="blog_table">
          {% for post in paginator.pages %}
            {{< blog.postcard post />}}
          {% endfor %}
        </div>

        {{< pagination.nav paginator />}}

      </section>
      <footer>
        <a href="{{ current_url ~ "atom.xml" }}" style="color:grey">📮 RSS Feed for '{{term.name}}'</a>
      </footer>
    </div>
  </body>
</html>
