{% import "partials/html_setup.html" as html_setup %}
{% import "partials/blog_postcard.html" as blog_postcard %}
{% import "partials/paginator_nav.html" as paginator_nav %}
<!doctype html>
<html>
  <head>
    <title>{{ term.name }} | stuff | schilk</title>
    {{ html_setup::setup() }}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% include "partials/header_common.html" %}
        <link rel="alternate" type="application/atomn+xml" title="RSS" href="{{ current_url ~ "/atom.xml" }}">
      </header>
      <section>
        <h1>Stuff: {{ term.name }} </h1>
        <div class="blog_table">
          {% for post in paginator.pages %}
            {{ blog_postcard::card(post=post) }}
          {% endfor %}
        </div>

        {{ paginator_nav::generate(paginator=paginator) }}

      </section>
      <footer>
        <a href="{{ current_url ~ "/atom.xml" }}" style="color:grey">📮 RSS Feed for '{{term.name}}'</a>
      </footer>
    </div>
  </body>
</html>

