{% macro main_menu_elem(emoji, name, link) %}
<div class="main_menu_elem">
  <h2 style="margin: 0 0 5px">
    {{ emoji }} <a href="{{link}}" style="color: black">{{ name }}</a>
  </h2>
</div>
{% endmacro input %}

<!--  __  __ _____ _   _ _   _  -->
<!-- |  \/  | ____| \ | | | | | -->
<!-- | |\/| |  _| |  \| | | | | -->
<!-- | |  | | |___| |\  | |_| | -->
<!-- |_|  |_|_____|_| \_|\___/  -->
<!--                            -->

<!-- Menu has 3 states:  -->
<!--     - Above 960px: In sidebar, stacked -->
<!--     - Between 960px and 500px: In top header, next to each other -->
<!--     - Below 500px: In toggleable menu, stacked. -->

<div style="display:flex; align-items:center;">
 <div style="flex-grow:1;">
    <h1>
      <a href="{{ get_url(path="") }}" style="color: black">schilk happens</a><br/>
    </h1>
  </div>
  <div style="flex-grow:0;" class="main_menu_hamburger">
    <a onclick="toggle_menu()"> 
      <img style="transform: translateY(-30%);" src="/img/icon/icon_hamburger.svg" width="20px">
    </a> 
  </div>
</div>

<div class="main_menu" id="main_menu_div">
  <div class="main_menu_elems">
    {% set root_section = get_section(path="_index.md") %}

    {% set combined_items = [] %}

    {% for subsection in root_section.subsections %}
      {% set section = get_section(path=subsection) %}
      {% if not section.extra | get(key="exclude_from_menu", default=false) %}
        {% set new_item = [
          "section",
          section.extra.nav_emoji,
          section.title,
          section.permalink,
          section.extra | get(key="menu_pos", default=100)
        ] %}
        {% set_global combined_items = combined_items | concat(with=[new_item]) %}
      {% endif %}
    {% endfor %}

    {% for page in root_section.pages %}
      {% if not page.extra | get(key="exclude_from_menu", default=false) %}
        {% set new_item = [
          "page",
          page.extra.nav_emoji,
          page.title,
          page.permalink,
          page.extra | get(key="menu_pos", default=100)
        ] %}
        {% set_global combined_items = combined_items | concat(with=[new_item]) %}
      {% endif %}
    {% endfor %}

    {% set sorted_items = combined_items | sort(attribute="4") %}

    {% for item in sorted_items %}
      {{ self::main_menu_elem(emoji=item.1, name=item.2, link=item.3) }}
    {% endfor %}

  </div>
</div>
<br />
<hr />



<script>
togglemenu_is_visible = false;

function toggle_menu() { 
  const div = document.getElementById('main_menu_div');
  togglemenu_is_visible = togglemenu_is_visible ? false : true;
  div.style.display = togglemenu_is_visible ? "block" : "none";
}

// If window is resized, correctly update the display-state of the menu:
function resize_menu_update() {
  const div = document.getElementById('main_menu_div');
  if (window.innerWidth > 500) {
      div.style.display = "block"
  } else {
      div.style.display = togglemenu_is_visible ? "block" : "none";
  }
}
window.addEventListener('resize', function(event) { resize_menu_update() }, true);

// On some phones initial state is wrong - fix:
resize_menu_update();
</script>

