{% component img.gallery() %}
  <div class="gallery_row">
    {{ body }}
  </div>
  <br>
{% endcomponent img.gallery %}

{% component img.gallery.img(src: string) %}
  <div class="gallery_column">
    <a href="{{src}}">
      <img src="{{src}}">
    </a>
    <br>
    {% if body %}
      <center>
        {{ body | safe }}
      </center>
    {% endif %}
  </div>
{% endcomponent img.gallery.img %}

{% component img.centered(src: string, br: bool = true, downscale_to_width: integer = None, width: string = "70%") %}
  {% if br %} <br> {% endif %} 
  <center>
    {% if downscale_to_width %}
      {% set resized_image = resize_image(
         path=src,
         width=downscale_to_width,
         op="fit_width",
         format="jpg",
         quality=100)
       %}
      {% set img = resized_image.url %}
      {% set link = resized_image.url %}
    {% else %}
      {% set img = src %}
      {% set link= src %}
    {% endif %}
    <a href="{{ link }}">
      <img src="{{img}}" width={{width}}>
    </a>
    {% if body %} 
    <br>
    {{ body | markdown | safe }}
    {% endif %}
  </center>
  {% if br %} <br> {% endif %} 
{% endcomponent img.centered %}
