{% macro main_menu_elem(emoji, name, link) %}
<li>
  <h2 style="margin: 0 0 5px">
    <a href="{{link}}" style="color: black"> {{ emoji }} {{ name }} </a>
  </h2>
</li>
{% endmacro input %}

<ul style="list-style: none; padding-left: 0">
  {% set root_section = get_section(path="_index.md") %} 
  {% for subsection in root_section.subsections %} 
    {% set section = get_section(path=subsection) %}
    {{ self::main_menu_elem(emoji=section.extra.nav_emoji, name=section.title, link=section.permalink) }} 
  {% endfor %} 
  {% for page in root_section.pages %}
    {{ self::main_menu_elem(emoji=page.extra.nav_emoji, name=page.title, link=page.permalink) }} 
  {% endfor %}
</ul>
