{% component tags.index(tags, is_header: bool) %}
  {% if tags %}
    <!-- Tag index -->
    <div class="tag_index">
      {% if is_header %}
        <h3 style="margin:0 0 6px;"> Tags </h3>
      {% else %}
        <h2> Tags: </h2>
      {% endif %}
      <ul>
        {% for tag in tags.items %}
          <li>
            <a href="{{ tag.permalink }}">{{ tag.name }}</a> ({{ tag.pages | length }})
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endcomponent tags.index %}
