{% component toc.toc(toc, is_header: bool) %}
  <div class="toc">
    {% if is_header %}
      <h3 style="margin:0 0 6px;"> Table of Contents </h3>
    {% else %}
      <h2> Table of Contents </h2>
    {% endif %}
    <ul>
      {% for h1 in toc %}
      <li>
        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        {% if h1.children %}
        <ul>
          {% for h2 in h1.children %}
          <li> <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a> </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endcomponent toc.toc %}
