<div class="highlight"><pre><span></span><span class="c"># Define a macro to save a string to RAM:</span>
<span class="nf">@macro</span> ascii_heap $str, $adr
    <span class="kt">PUSHA</span>
    <span class="nf">@for</span> $i, 0, $i&lt;strlen($str), $i+1
        <span class="kt">LITA</span> $str[$i] 
        <span class="kt">SVA</span> $adr+$i
    <span class="nf">@end</span>
    <span class="kt">POPA</span>
<span class="nf">@end</span>

<span class="c"># Call it:</span>
ascii_heap &quot;Hi!&quot;, 0
</pre></div>
