<div class="highlight"><pre><span></span><span class="c"># This is a comment!</span>

<span class="kt">LITA</span> 1         <span class="c"># Load 0x01 into register A</span>
<span class="kt">LITA</span> 0b1010    <span class="c"># Load 0x0A into register A</span>
<span class="kt">LITB</span> 0xFF      <span class="c"># Load 0xFF into register B</span>
<span class="kt">ADDLA</span> -1       <span class="c"># Calculate A + (-1), store in A</span>
<span class="kt">AND</span>            <span class="c"># Calculate A &amp; B, store in A</span>
</pre></div>
