<div class="highlight"><pre><span></span><span class="s">GLOBAL_LABEL_1:</span>          <span class="c"># A global label, creating a new block</span>
<span class="s">    .loop:</span> <span class="kt">JMP</span> .loop     <span class="c"># The label &#39;.loop&#39; only exists inside this block</span>

<span class="s">GLOBAL_LABEL_2:</span>
<span class="s">    .loop:</span> <span class="kt">JMP</span> .loop     <span class="c"># This label is seperate from the previous</span>

<span class="s">GLOBAL_LABEL_2:</span>
<span class="s">    .loop:</span> <span class="kt">JMP</span> .loop    
<span class="s">    .loop:</span> <span class="kt">JMP</span> .loop     <span class="c"># Error: label name conflicts</span>
</pre></div>
