{% set tags = get_taxonomy(kind="tags") %}
<!doctype html>
<html>
  <head>
    <title>stuff | schilk</title>
    {{< base.html_setup  />}}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path=section.path ~ "atom.xml", trailing_slash=false) }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% include "partials/header_common.html" %}
        {{< tags.index tags is_header={true} />}}
      </header>
      <section>
        <h1>Stuff</h1>
        <div class="blog_table">
          {% for post in paginator.pages %}
            {{< blog.postcard post />}}
          {% endfor %}
        </div>

        {{< pagination.nav paginator />}}

        {{< tags.index tags is_header={false}/>}}

      </section>
      <footer>
        <a href="{{ get_url(path=section.path ~ "atom.xml", trailing_slash=false) }}" style="color:grey">📮 RSS Feed</a>
      </footer>
    </div>
  </body>
</html>
