<!doctype html>
<html>
  <head>
    <title>{{ page.title }} | stuff | schilk</title>
    {% set katex_enabled = page.extra | get(key="katex", default=false) %}
    {% set katex_auto_render = page.extra | get(key="katex_auto_render", default=false) %}
    {{ <base.html_setup katex_enabled katex_auto_render/> }}
  </head>

  <body>
    {% set disable_toc = page.extra | get(key="disable_toc", default=false) %}

    <div class="wrapper">
      <header>
        {% include "partials/header_common.html" %}
        {% if not disable_toc %}
          {{ <toc.toc toc={page.toc} is_header={true}/> }}
        {% endif %}
      </header>
      <section>
        <h1>{{page.title}}</h1>
        <div class="subtitle">
          {{ page.date | date(format="%A, %d %B %Y") }}
          {% if page.updated %}
            &nbsp;&nbsp; Last Updated:
            {{ page.updated | date(format="%d %B %Y") }}
          {% endif %}
          {% if page.taxonomies.tags %}
            &nbsp;&nbsp; Tags:
            {% for tag in page.taxonomies.tags %}
              <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        {% if disable_toc %}
          {{ page.content | safe}}
        {% else %}
          {% if "<!-- $$toc$$ -->" in page.content %}
            {{ page.content | replace(from="<!-- $$toc$$ -->", to=<toc.toc toc={page.toc} is_header={false}/>) | safe }}
          {% else %}
            {{ <toc.toc toc={page.toc} is_header={false}/> }}
            {{ page.content | safe}}
          {% endif %}
        {% endif %}
      </section>

      <footer></footer>
    </div>
  </body>

</html>
