{% import "partials/html_setup.html" as html_setup %}
<!doctype html>
<html>
  <head>
    <title>stuff | schilk</title>
    {{ html_setup::setup() }}
    <link rel="alternate" type="application/atomn+xml" title="RSS" href="{{ get_url(path=section.path ~ "atom.xml", trailing_slash=false) }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
          {% include "partials/header_common.html" %}
      </header>
      <section>
        <h1>Stuff</h1>
        <div class="blog_table">

          {% for post in section.pages %}
          <div class="blog_table_inner">
            {% if post.extra.thumbnail_img %}
              {% set post_img = resize_image(
                  path=post.colocated_path ~ post.extra.thumbnail_img,
                  width=500,
                  height=500,
                  op="fill",
                  format="jpg",
                  quality=100)
              %}
              <img
                class="post_image"
                src="{{ post_img.url }}"
              />
            {% endif %}

            <h2><a href="{{post.permalink}}">{{post.title}}</a></h2>
            {{ post.date | date(format="%A, %d %B %Y") }}
            <br>
            <br>
            {{ post.description | markdown | safe}}
            <a href="{{post.permalink}}">Read More...</a>
          </div>
          {% endfor %}
        </div>
      </section>
      <footer>
        <a href="{{ get_url(path=section.path ~ "atom.xml", trailing_slash=false) }}" style="color:grey">📮 RSS Feed</a>
      </footer>
    </div>
  </body>
</html>
