{% import "partials/html_setup.html" as html_setup %}
<!doctype html>
<html>
  <head>
    <title>{{ page.title }} | schilk</title>
    {% set katex_enabled = page.extra | get(key="katex", default=false) %}
    {% set katex_auto_render = page.extra | get(key="katex_auto_render", default=false) %}
    {{ html_setup::setup(katex_enabled=katex_enabled, katex_auto_render=katex_auto_render) }}
  </head>

  <body>
    <div class="wrapper">
      <header>
        {% include "partials/header_common.html" %}
        {% include "partials/main_menu.html" %}
        <script>
        function toggle_div(id) { 
          const div = document.getElementById(id);
          if (div != null) {
              if (div.style.display === "none") {
                div.style.display = "block"
              } else {
                div.style.display = "none"
              }
          }
        }
        </script>

      </header>

      <section>
        <h1>{{page.title}}</h1>
          {{ page.content | safe }}
          
          {% set citations = load_data(path=page.colocated_path ~ "papers.yml", format="yaml", required=true) %}
          <div class="papers">
            {% for ref in citations %}
              <div class="paper">
                <strong> 
                  {% if ref.url %}<a href="{{ref.url}}">{% endif %}
                      {{ ref.title }}
                  {% if ref.url %}</a>{% endif %} 
                </strong> <br>

                <em> {{ref.authors}} </em> <br>

                {% if ref.cite_info %}
                  {{ ref.cite_info }} <br>
                {% endif %}
                
                {% if ref.award %}
                ⭐ {{ ref.award }}
                {% endif %}
                 
                <div class="paper_info_row">
                  {% if ref.url %}
                    <div class="paper_button">
                      📄 <a href="{{ref.url}}"> Paper </a>
                    </div>
                  {% endif %}

                  {% if ref.zola_link %}
                    <div class="paper_button">
                      💡 <a href="{{ get_url(path=ref.zola_link) }}"> Info </a>
                    </div>
                  {% endif %}
                  
                  {% if ref.arxiv %}
                    <div class="paper_button">
                      🗄️ <a href="{{ ref.arxiv }}"> arXiv </a>
                    </div>
                  {% endif %}
                  
                  {% if ref.uni_link %}
                    <div class="paper_button">
                      🏛️ <a href="{{ ref.uni_link }}"> University </a>
                    </div>
                  {% endif %}
                  
                  {% if ref.doi %}
                    <div class="paper_button">
                      📇 <a onclick="toggle_div('doi_{{loop.index}}')"> DOI </a>
                    </div>
                  {% endif %}

                  {% if ref.abstract %}
                    <div class="paper_button">
                      🔍 <a onclick="toggle_div('abstract_{{loop.index}}')"> Abstract </a>
                    </div>
                  {% endif %}
                </div>
                
                {% if ref.doi %}
                  <div class="paper_info_panel" id="doi_{{loop.index}}" style="display:none;">
                    <br>
                    <a href="https://doi.org/{{ref.doi}}"> <code> https://doi.org/{{ref.doi}} </code></a>
                  </div>
                {% endif %}

                {% if ref.abstract %}
                  <div class="paper_info_panel" id="abstract_{{loop.index}}" style="display:none;">
                    <br>
                    <blockquote>
                      {{ ref.abstract | safe }}
                    </blockquote>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
      </section>

      <footer></footer>
    </div>
  </body>

</html>

